.doc{
	width 		: 100%; 
	& > article{
		border-bottom 	: 1px solid #ccc;
		margin-bottom 	: 50px;  
		h3{
			margin-bottom 	: 35px; 
		};
		p{
			line-height : 30px; 
		};
		code{
			width 		: 100%;
			line-height : 25px; 
			padding 	: 10px;
			background  : #333;
			color 		: #4cae4c;
			display 	: block;     
			font-size 	: 14px; 
			margin 		: 5px 0px 10px; 
		};
	};
};


.example{
	height: 425px;
	article{
		height : 380px;
	};
	&.list{
		p{
			width : 100%;
			height: 35px;
			line-height: 35px;
			padding: 0px 10px;
			span{
				line-height: 35px;
				padding: 0px 25px;
				display: inline-block;
			};
		};
		header{
			p{
				background: #333;
				color: #fff;
			}
		};
		.c_cell:hover{
			background: #394;
		}
	}
};